.line {
  background: url(images/home/line_background.png);
  border-radius: 7px;
  height: 7px; }

.next_slide {
  position: absolute;
  width: 61px;
  height: 72px;
  top: 80px;
  right: 50px;
  z-index: 10;
  cursor: pointer;
  background-image: url("images/sprite.png");
  -webkit-animation: play 1.6s steps(5) infinite;
  -moz-animation: play 1.6s steps(5) infinite;
  -ms-animation: play 1.6s steps(5) infinite;
  -o-animation: play 1.6s steps(5) infinite;
  animation: play 1.6s steps(5) infinite; }

@-webkit-keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -372px; } }

@-moz-keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -372px; } }

@-ms-keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -372px; } }

@-o-keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -372px; } }

@keyframes play {
  from {
    background-position: 0px; }

  to {
    background-position: -372px; } }

.shape {
  background: url(images/home/shape.png) top center;
  width: inherit;
  height: inherit; }

.center {
  margin-left: auto;
  margin-right: auto; }

.screen {
  height: inherit;
  width: inherit;
  position: relative;
  z-index: 4; }

blockquote {
  background: url(images/home/screen2/quote.png);
  font-family: BenderLight;
  font-size: 18px;
  color: #ffffff;
  width: 466px;
  height: 109px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;
  margin-top: 50px;
  position: relative;
  left: -500px;
  opacity: 0; }
  blockquote b {
    font-family: BenderBold;
    display: block;
    clear: both;
    float: right;
    color: #f6b900; }

.cl {
  clear: both;
  font-size: 0px; }

.social {
  width: 43px;
  height: 37px;
  display: block; }

.social.linkedin {
  background: url(images/social/linkedin.png) no-repeat; }

.social.facebook {
  background: url(images/social/facebook.png) no-repeat; }

body .decore_line {
  position: relative; }
  body .decore_line:before {
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #4d5152;
    bottom: -11px;
    left: 0px; }
