@charset "UTF-8";
body.blog_bg {
  background: #212627 !important; }
body .blogpage {
  min-width: 1100px;
  margin: 0;
  background: url(images/blog/background.png) no-repeat 0 0;
  background-size: 100%;
  color: #fff; }
  body .blogpage .table_box {
    width: 924px;
    margin: 0 auto; }
    body .blogpage .table_box .blog_content {
      width: 640px;
      float: left;
      padding-top: 100px;
      padding-left: 24; }
      body .blogpage .table_box .blog_content.single .blog_post {
        margin-bottom: 20px; }
        body .blogpage .table_box .blog_content.single .blog_post:last-child {
          border-bottom: 1px solid #383c3d !important; }
      body .blogpage .table_box .blog_content .blog_title {
        width: 636px;
        height: 49px;
        background: url(images/blog/news_blog.png) no-repeat; }
      body .blogpage .table_box .blog_content .blog_post {
        border-bottom: 1px solid #383c3d;
        padding-bottom: 30px;
        margin-bottom: 30px; }
        body .blogpage .table_box .blog_content .blog_post:last-child {
          border-bottom: none; }
        body .blogpage .table_box .blog_content .blog_post .post_title {
          margin-top: 0px; }
          body .blogpage .table_box .blog_content .blog_post .post_title a {
            color: #fff;
            text-decoration: none; }
        body .blogpage .table_box .blog_content .blog_post .post_poster {
          display: block;
          margin-top: 12px;
          margin-bottom: 27px; }
          body .blogpage .table_box .blog_content .blog_post .post_poster img {
            max-width: 100%; }
        body .blogpage .table_box .blog_content .blog_post article {
          font-size: 1.1em; }
          body .blogpage .table_box .blog_content .blog_post article p:last-child {
            margin-bottom: 0px; }
          body .blogpage .table_box .blog_content .blog_post article.single_post {
            font-size: .8em;
            line-height: 1.6; }
      body .blogpage .table_box .blog_content .blog_more {
        display: block;
        width: 72px;
        height: 61px;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 70px;
        background: url(images/blog/blog_more.png) no-repeat; }
    body .blogpage .table_box .blog_side {
      padding: 100px 34px 0 34px;
      width: 192px;
      float: right;
      background: rgba(255, 255, 255, 0.08); }
      body .blogpage .table_box .blog_side .side_search {
        margin-bottom: 42px; }
        body .blogpage .table_box .blog_side .side_search input {
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 190px;
          height: 40px;
          padding: 0 .8em 0 40px;
          background: white url(images/blog/search.png) no-repeat 10px 50%;
          border: 1px solid #d9d9d9;
          border-radius: 3px;
          font-size: 1em; }
      body .blogpage .table_box .blog_side h3 {
        text-transform: uppercase;
        margin-bottom: 25px; }
      body .blogpage .table_box .blog_side ul {
        padding-left: 0;
        list-style: none; }
        body .blogpage .table_box .blog_side ul li {
          margin-bottom: 14px; }
          body .blogpage .table_box .blog_side ul li:before {
            content: "–";
            margin-right: 10px; }
          body .blogpage .table_box .blog_side ul li a {
            color: #fff; }
    body .blogpage .table_box .blog_post_comments .comment_header {
      overflow: hidden;
      margin-bottom: 30px;
      font-size: 1.2em; }
      body .blogpage .table_box .blog_post_comments .comment_header a.add_comment {
        color: #f6b900;
        text-decoration: none;
        float: left;
        border-bottom: 1px dashed #f6b900; }
      body .blogpage .table_box .blog_post_comments .comment_header .comments_count {
        float: right; }
    body .blogpage .table_box .blog_post_comments ul {
      list-style: none;
      padding-left: 0px; }
      body .blogpage .table_box .blog_post_comments ul li {
        display: table;
        padding: 20px 0;
        border-bottom: 1px solid #3b4041; }
        body .blogpage .table_box .blog_post_comments ul li:nth-child(even) {
          background: #252a2b; }
        body .blogpage .table_box .blog_post_comments ul li .comment_avatar {
          display: table-cell;
          vertical-align: top;
          width: 120px; }
        body .blogpage .table_box .blog_post_comments ul li .comment_comment {
          display: table-cell;
          vertical-align: top; }
          body .blogpage .table_box .blog_post_comments ul li .comment_comment .comment_author {
            font-size: 1.2em;
            margin-top: 0px; }
          body .blogpage .table_box .blog_post_comments ul li .comment_comment .comment_cont {
            font-size: .8em;
            line-height: 1.6; }
