body .developmentpage {
  height: 88%;
  min-height: 791px;
  overflow: hidden;
  min-width: 1100px; }
  body .developmentpage .insidepage_container {
    height: 100%; }
    body .developmentpage .insidepage_container .screen1 {
      background: #313536; }
      body .developmentpage .insidepage_container .screen1 table {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%; }
        body .developmentpage .insidepage_container .screen1 table tr {
          padding: 0;
          margin: 0; }
        body .developmentpage .insidepage_container .screen1 table td {
          padding: 0;
          margin: 0; }
      body .developmentpage .insidepage_container .screen1 .center {
        width: 850px;
        margin-top: 45px; }
      body .developmentpage .insidepage_container .screen1 .line {
        margin-top: 35px; }
      body .developmentpage .insidepage_container .screen1 .development {
        background: url(images/development/developmenttext.png) no-repeat;
        width: 599px;
        height: 70px;
        float: left;
        margin-left: 25px; }
      body .developmentpage .insidepage_container .screen1 .menu_container {
        background: url(images/development/left_back.png) no-repeat left bottom 50px; }
        body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container {
          background: url(images/development/right_back.png) no-repeat right bottom 50px; }
          body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu {
            margin-left: auto;
            margin-right: auto;
            width: 839px; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu _div, body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .analyze, body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .plan, body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .execute, body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .evaluate, body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .launch, body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .nurture {
              height: 50px;
              padding-top: 316px;
              vertical-align: bottom;
              text-align: center;
              float: left;
              cursor: pointer;
              z-index: 11;
              position: relative; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .inside {
              color: #f6b900;
              font-family: BenderLight;
              height: 70px;
              line-height: 44px; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .selected .inside {
              background: url(images/development/selected.png) no-repeat bottom center;
              font-family: BenderBold; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .analyze {
              width: 149px;
              background: url(images/development/analyze.png) no-repeat; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .plan {
              width: 142px;
              background: url(images/development/plan.png) no-repeat; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .execute {
              width: 184px;
              background: url(images/development/execute.png) no-repeat; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .evaluate {
              width: 148px;
              background: url(images/development/evaluate.png) no-repeat; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .launch {
              width: 127px;
              background: url(images/development/launch.png) no-repeat; }
              body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .launch .inside {
                margin-left: 35px; }
            body .developmentpage .insidepage_container .screen1 .menu_container .another_menu_container .menu .nurture {
              width: 89px;
              background: url(images/development/nurture.png) no-repeat; }
      body .developmentpage .insidepage_container .screen1 .shape {
        height: 100%;
        position: relative;
        z-index: 10;
        background-color: #f6b900; }
        body .developmentpage .insidepage_container .screen1 .shape .inside {
          width: 839px;
          margin-left: auto;
          margin-right: auto;
          font-family: Bender;
          padding-top: 25px;
          font-size: 20px;
          padding-top: 50px; }
        body .developmentpage .insidepage_container .screen1 .shape .analyze {
          display: block; }
        body .developmentpage .insidepage_container .screen1 .shape .plan {
          display: none; }
        body .developmentpage .insidepage_container .screen1 .shape .execute {
          display: none; }
        body .developmentpage .insidepage_container .screen1 .shape .evaluate {
          display: none; }
        body .developmentpage .insidepage_container .screen1 .shape .launch {
          display: none; }
        body .developmentpage .insidepage_container .screen1 .shape .nurture {
          display: none; }
    body .developmentpage .insidepage_container .screen2 {
      z-index: 2;
      right: -100px;
      background-color: #303435; }
      body .developmentpage .insidepage_container .screen2 .shape table {
        width: 100%;
        height: 100%; }
        body .developmentpage .insidepage_container .screen2 .shape table .top {
          font-family: BenderBold;
          font-size: 32px;
          color: #fff;
          text-align: center;
          margin-top: 150px;
          line-height: 50px; }
        body .developmentpage .insidepage_container .screen2 .shape table .bottom {
          background: url(images/development/screen2/bottom_back.png);
          height: 332px; }
          body .developmentpage .insidepage_container .screen2 .shape table .bottom .center {
            width: 850px; }
            body .developmentpage .insidepage_container .screen2 .shape table .bottom .center .text {
              width: 400px;
              margin-top: 20px;
              font-family: Bender;
              color: #fff;
              float: left;
              font-size: 17px; }
