@font-face {
  font-family: PrimeLight;
  src: url("fonts/Prime/Prime Light.otf"); }

@font-face {
  font-family: Bender;
  src: url("fonts/Bender/Jovanny Lemonad - Bender.otf"); }

@font-face {
  font-family: BenderLight;
  src: url("fonts/Bender/Jovanny Lemonad - Bender-Light.otf"); }

@font-face {
  font-family: BenderBold;
  src: url("fonts/Bender/Jovanny Lemonad - Bender-Bold.otf"); }

html, body {
  height: 100%; }

body {
  margin: 0px;
  background-color: #47c1a8;
  font-family: Bender; }
  body header {
    background: url(images/header/background.jpg) repeat-x black;
    height: 41px;
    max-height: 41px;
    min-width: 1100px;
    overflow: hidden; }
    body header .container {
      color: #ffffff;
      width: 978px;
      height: 41px;
      margin-left: auto;
      margin-right: auto; }
      body header .container a {
        display: block;
        height: 41px;
        line-height: 41px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        float: left; }
        body header .container a div {
          display: none;
          height: 5px;
          background: #f6b900;
          margin-top: -6px;
          border-radius: 5px; }
      body header .container a.home {
        width: 140px; }
      body header .container a.development {
        width: 150px; }
      body header .container a.strategy {
        width: 175px; }
      body header .container a.team {
        width: 120px;
        margin-left: 103px; }
      body header .container a.portfolio {
        width: 130px; }
      body header .container a.contactus {
        width: 150px; }
      body header .container a.active div {
        display: block; }
      body header .container a.logo {
        width: 98px;
        height: 81px;
        background: url(images/header/logo.png) no-repeat;
        position: absolute;
        z-index: 10;
        margin-left: 440px; }
