body .portfoliopage {
  height: 88%;
  min-height: 791px;
  overflow: hidden;
  min-width: 1100px; }
  body .portfoliopage .insidepage_container {
    height: 100%; }
    body .portfoliopage .insidepage_container .screen1 {
      background: url(images/portfolio/screen1/background.jpg) no-repeat center;
      -moz-background-size: cover;
      /* Firefox 3.6+ */
      -webkit-background-size: cover;
      /* Safari 3.1+ и Chrome 4.0+ */
      -o-background-size: cover;
      /* Opera 9.6+ */
      background-size: cover;
      z-index: 5; }
      body .portfoliopage .insidepage_container .screen1 .portfoliotext_container {
        width: 1066px;
        margin-top: 250px; }
        body .portfoliopage .insidepage_container .screen1 .portfoliotext_container .line {
          margin-top: 25px; }
        body .portfoliopage .insidepage_container .screen1 .portfoliotext_container .welcometext {
          width: 811px;
          height: 51px;
          background: url(images/portfolio/screen1/welcome.png) no-repeat;
          float: left;
          margin-left: 35px; }
      body .portfoliopage .insidepage_container .screen1 .text {
        font-family: BenderBold;
        color: #fff;
        text-align: center;
        margin-top: 50px;
        font-size: 30px; }
    body .portfoliopage .insidepage_container .screen2 {
      background: #b5b5b5;
      z-index: 4;
      right: -100px;
      max-height: 100%;
      overflow: hidden; }
      body .portfoliopage .insidepage_container .screen2 .infinite_loop_container {
        width: 100%;
        height: 106%;
        border: 1px solid #000;
        overflow: auto; }
        body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside {
          height: 94%; }
          body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container {
            width: 1200px;
            height: 100%;
            display: table;
            float: left;
            /* required */ }
            body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item {
              display: table-cell;
              height: inherit; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.instagram {
                background: url(images/portfolio/screen2/instagram.png) no-repeat right center; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.instagram:hover {
                background: url(images/portfolio/screen2/instagram_selected.png) no-repeat right center #5b90f6; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.instagram:after {
                content: "";
                width: inherit;
                height: inherit;
                display: block;
                background: url(images/portfolio/screen2/instagram_logo.png) no-repeat bottom center; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.vsco {
                background: url(images/portfolio/screen2/vsco.png) no-repeat right center #6d6d6d; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.vsco:hover {
                background: url(images/portfolio/screen2/vsco_selected.png) no-repeat right center #5b90f6; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.vsco:after {
                content: "";
                width: inherit;
                height: inherit;
                display: block;
                background: url(images/portfolio/screen2/vsco_logo.png) no-repeat bottom 10px center; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.yahoo {
                background: url(images/portfolio/screen2/yahoo.png) no-repeat right center; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.yahoo:hover {
                background: url(images/portfolio/screen2/yahoo_selected.png) no-repeat right center #5b90f6; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.yahoo:after {
                content: "";
                width: inherit;
                height: inherit;
                display: block;
                background: url(images/portfolio/screen2/yahoo_logo.png) no-repeat bottom 12px center; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.pinterest {
                background: url(images/portfolio/screen2/pinterest.png) no-repeat right center #6d6d6d; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.pinterest:hover {
                background: url(images/portfolio/screen2/pinterest_selected.png) no-repeat right center #5b90f6; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.pinterest:after {
                content: "";
                width: inherit;
                height: inherit;
                display: block;
                background: url(images/portfolio/screen2/pinterest_logo.png) no-repeat bottom 10px center; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.googleplus {
                background: url(images/portfolio/screen2/googleplus.png) no-repeat right center; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.googleplus:hover {
                background: url(images/portfolio/screen2/googleplus_selected.png) no-repeat right center #5b90f6; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.googleplus:after {
                content: "";
                width: inherit;
                height: inherit;
                display: block;
                background: url(images/portfolio/screen2/googleplus_logo.png) no-repeat bottom center; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.youtube {
                background: url(images/portfolio/screen2/youtube.png) no-repeat right center #6d6d6d; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.youtube:hover {
                background: url(images/portfolio/screen2/youtube_selected.png) no-repeat right center #5b90f6; }
              body .portfoliopage .insidepage_container .screen2 .infinite_loop_container .infinite_loop_inside .items_container .item.youtube:after {
                content: "";
                width: inherit;
                height: inherit;
                display: block;
                background: url(images/portfolio/screen2/youtube_logo.png) no-repeat bottom 5px right; }
    body .portfoliopage .insidepage_container .screen3 {
      background: #414040;
      z-index: 3;
      right: -100px; }
      body .portfoliopage .insidepage_container .screen3 .factfeed {
        background: url(images/portfolio/screen4/factfeed.png) no-repeat;
        width: 331px;
        height: 55px;
        margin-top: 50px; }
      body .portfoliopage .insidepage_container .screen3 .blocks_container {
        width: 958px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px; }
        body .portfoliopage .insidepage_container .screen3 .blocks_container .block1 {
          top: -150px; }
        body .portfoliopage .insidepage_container .screen3 .blocks_container .block2 {
          bottom: -150px; }
        body .portfoliopage .insidepage_container .screen3 .blocks_container .block3 {
          top: -150px; }
        body .portfoliopage .insidepage_container .screen3 .blocks_container .block_container {
          background: url(images/home/screen3/container_top.png) no-repeat top;
          width: 296px;
          height: 460px;
          float: left;
          margin-left: 10px;
          position: relative; }
          body .portfoliopage .insidepage_container .screen3 .blocks_container .block_container .inside {
            background: url(images/home/screen3/container_middle.png) repeat-y;
            margin-top: 87px;
            height: 286px;
            width: 256px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 14pt;
            font-family: Bender; }
            body .portfoliopage .insidepage_container .screen3 .blocks_container .block_container .inside h2 {
              font-family: BenderBold;
              text-align: center;
              text-transform: uppercase; }
          body .portfoliopage .insidepage_container .screen3 .blocks_container .block_container .bottom {
            background: url(images/home/screen3/container_bottom.png) no-repeat bottom;
            height: 88px;
            margin-top: -1px;
            width: 296px; }
        body .portfoliopage .insidepage_container .screen3 .blocks_container .width_margin_left {
          margin-left: 35px; }
    body .portfoliopage .insidepage_container .screen4 {
      background: #c2b7a2;
      z-index: 2;
      right: -100px; }
      body .portfoliopage .insidepage_container .screen4 .items_container {
        margin-top: 200px;
        display: table; }
        body .portfoliopage .insidepage_container .screen4 .items_container .item {
          display: table-cell;
          width: 300px;
          padding-top: 170px;
          padding-right: 10px;
          padding-left: 10px; }
          body .portfoliopage .insidepage_container .screen4 .items_container .item hr {
            width: 40px;
            border-color: #000;
            margin-left: 0px; }
        body .portfoliopage .insidepage_container .screen4 .items_container .strategy {
          background: url(images/portfolio/screen5/1.png) no-repeat top; }
        body .portfoliopage .insidepage_container .screen4 .items_container .governance {
          background: url(images/portfolio/screen5/2.png) no-repeat top; }
        body .portfoliopage .insidepage_container .screen4 .items_container .designing {
          background: url(images/portfolio/screen5/3.png) no-repeat top; }
