body {
  .developmentpage {

    $height: 791px;
    $width: 1100px;

    $image_height: 393px;

    height: 88%;
    min-height: $height;
    overflow: hidden;
    min-width: $width;

    .insidepage_container {
      height: 100%;

      .screen1 {
        background: #303030;

        table {
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
          tr { padding: 0; margin: 0; }
          td { padding: 0; margin: 0; }
        }

        .center {
          width: 850px;
          margin-top: 45px;
        }

        .line {
          margin-top: 35px;
        }

        .development {
          background: url(images/development/developmenttext.png) no-repeat;
          width: 599px;
          height: 70px;
          float: left;
          margin-left: 25px;
        }

        $analize_width: 149px;
        $plan_width: 142px;
        $execute_width: 184px;
        $evaluate_width: 148px;
        $launch_width: 127px;
        $nurture_width: 89px;

        .menu_container {
          background: url(images/development/left_back.png) no-repeat left bottom 50px;
          .another_menu_container {
            background: url(images/development/right_back.png) no-repeat right bottom 50px;
            .menu {
              margin-left: auto;
              margin-right: auto;

              width: $analize_width + $plan_width + $execute_width + $evaluate_width + $launch_width + $nurture_width;
              //margin-top: 187px;

              _div {
                height: 50px;
                padding-top: 316px;
                vertical-align: bottom;
                text-align: center;
                float: left;
                cursor: pointer;
                z-index: 11;
                position: relative;
              }

              .inside {
                color: #f6b900;
                font-family: BenderLight;
                height: 70px;
                line-height: 44px;
              }

              .selected {
                .inside {
                  background: url(images/development/selected.png) no-repeat bottom center;
                  font-family: BenderBold;
                }
              }
              .analyze {
                @extend _div;
                width: $analize_width;
                background: url(images/development/analyze.gif) no-repeat;
              }
              .plan {
                @extend _div;
                width: $plan_width;
                background: url(images/development/plan.gif) no-repeat;
              }
              .execute {
                @extend _div;
                width: $execute_width;
                background: url(images/development/execute.gif) no-repeat;
              }
              .evaluate {
                @extend _div;
                width: $evaluate_width;
                background: url(images/development/evaluate.gif) no-repeat;
              }

              .launch {
                @extend _div;
                width: $launch_width;
                background: url(images/development/launch.gif) no-repeat;
                .inside {
                  margin-left: 35px;
                }
              }


              .nurture {
                @extend _div;
                width: $nurture_width;
                background: url(images/development/nurture.gif) no-repeat;
              }
            }
          }
        }

        .shape {
          height: 100%;
          position: relative;
          z-index: 10;
          background-color: #f6b900;
          .inside {
            width: $analize_width + $plan_width + $execute_width + $evaluate_width + $launch_width + $nurture_width;
            margin-left: auto;
            margin-right: auto;
            font-family: Bender;
            padding-top: 25px;
            font-size: 20px;
            padding-top: 50px;
          }

          .analyze {display: block;}
          .plan {display: none}
          .execute {display: none}
          .evaluate {display: none}
          .launch {display: none}
          .nurture {display: none}
        }

      }

      .screen2 {
        z-index: 2;
        right: -100px;
        background-color: #303435;
        .shape {

          table {
            width: 100%;
            height: 100%;
            .top {
              font-family: BenderBold;
              font-size: 32px;
              color: #fff;
              text-align: center;
              margin-top: 150px;
              line-height: 50px;
            }
            .bottom {
              background: url(images/development/screen2/bottom_back.png);
              height: 332px;
              .center {
                $text_width: 400px;
                width: $text_width * 2 + 50px;
                .text {
                  width: $text_width;
                  margin-top: 20px;
                  font-family: Bender;
                  color: #fff;
                  float:left;
                  font-size: 17px;
                }
              }
            }
          }
        }

      }
    } // .insidepage_container
  } // .developmentpage
} // body