body {
  .homepage {

    $height: 791px;
    $width: 1100px;

    $image_height: 393px;

    height: 88%;
    min-height: 790px;
    overflow: hidden;
    min-width: $width;

    .insidepage_container {
      height: 100%;

      .screen1 {
        background: url(images/home/screen1/background.jpg) no-repeat center #ccc;
        -moz-background-size: cover; /* Firefox 3.6+ */
        -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover; /* Opera 9.6+ */
        background-size: cover;
        z-index: 4;

        .image {
          background: url(images/home/screen1/text.png) no-repeat;
          width: 752px;
          height: $image_height;
          margin-left: auto;
          margin-right: auto;
          margin-top: $height / 2 - $image_height / 2;
        }
        //display: none;

      } // screen1


      .screen2 {
        background: url(images/home/screen2/background.jpg) no-repeat center #ccc;
        -moz-background-size: cover; /* Firefox 3.6+ */
        -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover; /* Opera 9.6+ */
        background-size: cover;
        z-index: 3;
        right: -100px;

        .theorytext {
          background: url(images/home/screen2/theory_text.png);
          width: 757px;
          height: 71px;
          margin-top: 250px;
          position: relative;
          right: -500px;
          opacity: 0;
        }

        .line {
          width: 757px;
          margin-top: 15px;
          opacity: 0;
        }

      } // screen2

      .screen3 {
        background: url(images/home/screen3/background.jpg) no-repeat center #ccc;
        -moz-background-size: cover; /* Firefox 3.6+ */
        -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover; /* Opera 9.6+ */
        background-size: cover;

        z-index: 2;
        right: -100px;

        $blocks_count: 3;
        $block_width: 296px;
        $block_height: 560px;
        $block_margin_left: 35px;

        .blocks_container {
          width: $block_width * $blocks_count + ( ($blocks_count - 1 ) * $block_margin_left );
          margin-left: auto;
          margin-right: auto;
          margin-top: $height / 2 - $block_height / 2;

          .block_container {
            background: url(images/home/screen3/container_top.png) no-repeat top;
            width: $block_width;
            height: $block_height;
            float: left;
            position: relative;
            opacity: 0;

            .inside {
              background: url(images/home/screen3/container_middle.png) repeat-y;
              margin-top: 87px; // -1px hack for pretty zooming in safari
              height: $block_height - 87px - 87px;
              width: $block_width - 20px - 20px;
              padding-left: 20px;
              padding-right: 20px;
              font-size: 12pt;
              font-family: Bender;

              h2 {
                font-family: BenderBold;
                text-align: center;
                text-transform: uppercase;
              }
            }

            .bottom {
              background: url(images/home/screen3/container_bottom.png) no-repeat bottom;
              height: 88px;
              margin-top: -1px; // hack for pretty zooming in safari
              width: $block_width;
            }

          }

          .width_margin_left {  // for second+ blocks
            margin-left: $block_margin_left;
          }

        } // .blocks_container

      } // screen3

      .screen4 {
        background: url(images/home/screen4/background.jpg) no-repeat center #ccc;
        -moz-background-size: cover; /* Firefox 3.6+ */
        -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover; /* Opera 9.6+ */
        background-size: cover;

        z-index: 1;
        right: -100px;

        .container {
          $height_container: 700px;
          height: $height_container;
          overflow: hidden;
          margin-top: 50px;
          .infinite_loop_container {
            width: 100%;
            height: $height_container + 20px;
            overflow: auto;
            .infinite_loop_inside {
              height: 500px;

              .infinite_loop_target {
                width: 700px;
                height: inherit;
                float: left;  /* required */

                .hexagon {
                  display: block;
                  float: left;
                  margin-left: 10px;
                  text-decoration: none;

                  b {
                    display: none;
                    font-weight: normal;
                    color: #000000;
                    font-family: Bender;
                  }
                }

                .hexagon:HOVER {
                  background: url(images/home/screen4/what_we_have_and_what_we_do.png) no-repeat;
                  -moz-background-size: cover; /* Firefox 3.6+ */
                  -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
                  -o-background-size: cover; /* Opera 9.6+ */
                  background-size: cover;

                  b { display: block; }
                }

              }
            }
          }


        }

      } // screen4
    }
  }
}